{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Numbers</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/sign.jpg' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <style>
    #features img {
      height: 75px;
      margin-bottom: 30px;
      width: 75px;
      border-radius: 30px;
    }

    .link {
      text-align: center;
    }

    ul {
      display: inline-block;
      margin-top: 40px;
      margin-bottom: 0;
      text-align: center;
    }

    ul li {
      background: gray;
      border-radius: 50px;
      float: left;
      height: 35px;
      line-height: 35px;
      margin-left: 10px;
      margin-right: 10px;
      width: 35px;
      transition: 0.3s;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    ul li a {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    ul li:hover {
      background: darkgrey;
    }
  </style>
</head>

<body>

  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div id="logo">
        <img src="{% static 'images/logoo.png' %}" style="width:50px;height:50px;">
        <h1 style="color: #71c55d;">American SignLanguage</h1>
      </div>

    </div>
  </header>

  <!-- ======= Features Section ======= -->
  <section id="features" class="padd-section text-center" style="margin-top: 100px;">

    <div class="container" data-aos="fade-up">

      <div class="section-title text-center">
        <h2>Numbers.</h2>
        <p class="separator">Here is the tutorial for numbers...</p>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="100">

        <!-- 0 -->
        <div class="col-md-6 col-lg-2">
          <div class="feature-block">
            <img src="{% static 'assets/0-9/0.png' %}" alt="Sign language number 0">
            <h4>0</h4>
          </div>
        </div>

        <!-- 1 -->
        <div class="col-md-6 col-lg-2">
          <div class="feature-block">
            <img src="{% static 'assets/0-9/1.png' %}" alt="Sign language number 1">
            <h4>1</h4>
          </div>
        </div>

        <!-- 2 -->
        <div class="col-md-6 col-lg-2">
          <div class="feature-block">
            <img src="{% static 'assets/0-9/2.png' %}" alt="Sign language number 2">
            <h4>2</h4>
          </div>
        </div>

        <!-- 3 -->
        <div class="col-md-6 col-lg-2">
          <div class="feature-block">
            <img src="{% static 'assets/0-9/3.png' %}" alt="Sign language number 3">
            <h4>3</h4>
          </div>
        </div>

        <!-- 4 -->
        <div class="col-md-6 col-lg-2">
          <div class="feature-block">
            <img src="{% static 'assets/0-9/4.png' %}" alt="Sign language number 4">
            <h4>4</h4>
          </div>
        </div>

        <!-- 5 -->
        <div class="col-md-6 col-lg-2">
          <div class="feature-block">
            <img src="{% static 'assets/0-9/5.png' %}" alt="Sign language number 5">
            <h4>5</h4>
          </div>
        </div>

        <!-- 6 -->
        <div class="col-md-6 col-lg-2">
          <div class="feature-block">
            <img src="{% static 'assets/0-9/6.png' %}" alt="Sign language number 6">
            <h4>6</h4>
          </div>
        </div>

        <!-- 7 -->
        <div class="col-md-6 col-lg-2">
          <div class="feature-block">
            <img src="{% static 'assets/0-9/7.png' %}" alt="Sign language number 7">
            <h4>7</h4>
          </div>
        </div>

        <!-- 8 -->
        <div class="col-md-6 col-lg-2">
          <div class="feature-block">
            <img src="{% static 'assets/0-9/8.png' %}" alt="Sign language number 8">
            <h4>8</h4>
          </div>
        </div>

        <!-- 9 -->
        <div class="col-md-6 col-lg-2">
          <div class="feature-block">
            <img src="{% static 'assets/0-9/9.png' %}" alt="Sign language number 9">
            <h4>9</h4>
          </div>
        </div>

      </div>
    </div>

  </section>
  <!-- End Features Section -->


  <!-- Bottom Navigation -->
  <div class="link">
    <ul class="list-unstyled">
      <li><a href="{% url 'home' %}">I</a></li>
      <li><a href="{% url 'alphabets' %}">H</a></li>
      <li><a href="{% url 'tutorials' %}">T</a></li>
    </ul>
  </div>


  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>
</html>